<!-- The Modal -->
<div id="myModal" class="myModal">

  <!-- Modal content -->
  <div class="myModal-content">
    <span class="closeModal">&times;</span>
    <h5 class="h2">We are open for business</h5>
    <h5>Packages & Rates for 2023/24 Coming Soon!</h5>
    <p style="text-align:center"><b style="font-size:1.2em; color:red;"><span style="text-transform: uppercase;">Important:</span> We are currently nagotiating rates for the 2024 season. Our 2023/24 Package prices will be onling shortly.</b></p>

   <!-- <p style="text-align:center"><b style="font-size:1.2em;">We are currently nagotiating rates for the 2023 season. Our 2022/23 Package prices will be onling shortly.</b></p> -->

    <!-- <p style="text-align:center">Sadly for the foreign powder hunters, <b>India does not grant Tourist Visas</b> at the moment. This means that borders are closed to foreigners dreaming of Skiing Gulmarg.</p> -->
    <p style="text-align:center"><b style="font-size:1.2em">We will happliy help you plan YOUR perfect SKI trip.</b></p>
    <!--<p style="text-align:center"><b style="font-size:1.2em">If you are in India and want to Ski Gulmarg</b><br>We will happliy help you plan YOUR perfect trip.</p> -->
    <!-- <p style="text-align:center"><b style="font-size:1.2em; color:red;">Book Now and receive up to 25% discount.</b></p> -->

    <h6>Please Note</h6>
    <ul>
      <li>Due to COVID-19, we edited our <a href="https://skigulmarg.com/legal/booking-conditions">Booking Conditions</a></li>
      <li>A 20% deposit is required to confirm any booking. If the COVID situation makes it impossible to ski Gulmarg in 2024, a voucher valid until March 2025 for the amount paid will be offered.<sup>*</sup></li>
      <!-- <li>Full balance will be due 21 days before your planned arrival date. Cancellation policies will apply based on your hotel policies. Meaning, if the hotel refunds us, we will happily refund you.</li> -->
    </ul>
    <p><small style="font-size:0.8em"><sup>*</sup> If your hotel requires a different deposit or a full payment, we will have to apply their payment policies.</small></p>
  </div>

</div>

<!-- The Alert Box -->
<div id="myAlertBox" class="myAlertBox container">

  <!-- Alert Box content -->
  <div class="alertBox-content row">
    <span class="closeModal">&times;</span>
    <span class="notice col-xs-11 col-sm-8">Packages 2023/24 Coming Soon!</span>
    <span id="covidAlertButton" class="btn btn-rounded col-xs-4 col-xs-push-4 col-sm-3 col-sm-push-0">Learn More</span>
  </div>

</div>
