/* ----------------------------------------------------------------------
	separator
-------------------------------------------------------------------------*/

.separator,
.separator{
    color: $base-color;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;
}
.separator {
    &::before,
    &::after,
    &::before,
    &::after{
        border-bottom: 1px solid $base-color;
        content: "";
        display: inline-block;
        height: 10px;
        margin: 0 -4px 0 -100%;
        vertical-align: top;
        width: 10%;
    }
    &.full-width {
        &::before,
        &::after,
        &::before,
        &::after {
            width: 30%;
            border-bottom: 1px solid $white;
        }
        svg {
            height: 20px;
            margin: 0 20px;
            path {
                fill: $white;
            }
        }
    }
}

.separator::after,
.separator::after{
    margin: 0 -100% 0 0;
}
.separator svg {
    height: 20px;
    margin: 0 20px;
    path {
        fill: $base-color;
    }
}